{%- set project_name = _external_data.base.project_name -%}
{%- set ns = project_name | replace('-', '_') -%}
#include <{{ project_name }}/greeting/greeting.hpp>

#include <string>

namespace {{ ns }} {

constexpr std::string Greeting(std::string_view name) {
  return "Hello, " + std::string{name} + "!";
}

}  // namespace {{ ns }}
