{%- set project_name = _external_data.base.project_name -%}
{%- set ns = project_name | replace('-', '_') -%}
#include <{{ project_name }}/greeting/greeting.hpp>

#include <iostream>

int main() {
  std::cout << {{ ns }}::greeting("world") << '\n';
}
